{% extends 'website/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-4">
  <h1 class="mb-3">All Records</h1>
  <div class="table-responsive">
      <table class="table table-bordered table-hover">
          <thead class="table-dark text-center">
              <tr>
                  <th>id</th>
                  <th>Created At</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Zip Code</th>
              </tr>
          </thead>
          <tbody>
                            
                {% if records %}
                  {% for record in records %}
                    <tr style="cursor: pointer;">
                      <td><a href="{% url 'record' record.id %}"> {{record.id}} </a></td>
                      <td>{{record.created_at}}</td>
                      <td>{{ record.first_name }} {{ record.last_name }}</td>
                      <td>{{record.email}}</td>
                      <td>{{record.phone}}</td>
                      <td>{{record.address}}</td>
                      <td>{{record.city}}</td>
                      <td>{{record.state}}</td>
                      <td>{{record.zipcode}}</td>
                    </tr>
                  {% endfor %}
                {% endif %}
              
             
          </tbody>
      </table>
  </div>
</div>



{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label ">Username</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="username" required>
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
        </div>
        
        <button type="submit" class="btn btn-success w-100">Submit</button>
      </form>
</div>
  
{% endif %}
{% endblock  %}